.widget-details .visible {
  display: block;
}

.widget-details .hidden {
  display: none;
}

.widget-list {
  display: flex;
}

.item {
  display:inline;
  margin:auto;
}


.bold_text {
  font-weight: bold;
}

#show-widget-link {
  text-align: center;
}

body {
  background-color: bisque;
  font-family: 'MuseoModerno', cursive;
  color:rgb(25, 27, 25);
  /* text-align: center; */
}

h1 {
  text-align: center;
}