.widget-details .visible {
  display: block;
}

.widget-details .hidden {
  display: none;
}

.widget {
  background-color: darkseagreen;
  width: 120px;
  height: 300px;
  display: inline-block;
  padding: 10px;
  margin: 20px;
}

button {
  display: block;
}

label {
  display: block;
}

 .radio-buttons label{
  display: inline-block;
}

input[type="submit"]{
  display: block;
}
