body {
  background-color: bisque;
  font-family: 'Cousine', monospace;
  display: flex;
  justify-content: center;
}

.formDiv {
  display: flex;
  flex-direction: column;
} 

.widget-details .visible {
  display: block;
}

.widget-details .hidden {
  display: none;
}

